
/* F2D6E9  ROSA MAS CLARO
    DDC0DC Violeta
    AD9ACA MORADO
    9EA6D3 AZUL MORADO
    B1DEF1 AZUL CLARO
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: row;
  
}


.left-container {
  display: flex;
  flex: 1;
  padding: 10px;
  background-color: #f2d6e9;
  flex-direction: column;
  gap: 20px;
}

.search-container {
  display: flex;
  flex-direction: row; 
  gap: 10px; 
  padding: 10px 10px; 
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #AD9ACA;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 10px; 
}

.products-container h1{
  font-size: 36px;
  margin-left:10px;
}

.product-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.right-container {
  flex: 1;
  padding: 10px;
  background-color: #ddc0dc;
  
}

.right-container h1{
  font-size: 36px;
  margin-left:10px;
  margin-bottom: 15px;
}

.selected-products-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  overflow-y: auto;
  padding-right: 10px;
  max-height: 300px;
  margin-bottom: 10px;
}


.right-bottom-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.left-side {
  flex: 1;
} 

.right-side {
  flex: 1;
}

.left-side-container{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #AD9ACA;
  padding: 10px;  
  gap: 10px;
}