
/* F2D6E9  ROSA MAS CLARO
    DDC0DC Violeta
    AD9ACA MORADO
    9EA6D3 AZUL MORADO
    B1DEF1 AZUL CLARO
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.app-navBar-container {
  height: 10vh;
}

.app-home-container {
  height: 90vh;
}

