.filter-container select {
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    padding : 15px 20px;
    border:none;
    font-size: 16px;
    min-height: 45px;
    
}

.filter-container select:hover {
    background-color: #e7ecf7;
}