.search-bar-container {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    align-items: center;
    width: 100%;
    max-width: 400px;
}


.search-bar-container input {
    flex: 1;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    min-height: 45px;
}

.search-bar-container button {
    background-color: #9EA6D3;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    font-size: 18px;
}

.search-bar-container button:hover {
    background-color: #8290df;
}