.tag-form {
  display: flex;
  align-items: left;
  gap: 10px;
  flex-direction: column;
}


.tag-input {
  margin-top: 20px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.color-selector-container {
  margin-top: 20px; 
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 30px;
}

.color-selector-container p {
  margin-top: 10px;
}

.color-selector {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
}